<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |dose| %>
<%= dose.description %> | <%= link_to "delete ingredient", dose_path(dose.id),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
<<% end %>
<%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail)  %>


<%= link_to "Get back", cocktails_path  %>
