<div class="container">
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Create your recipe", class: "btn btn-primary" %>
<%= link_to "Cancel and get back", cocktail_path(@cocktail), class: "btn btn-primary"  %>
<% end %>
</div>
